@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
width: 6px;
height: 6px;
}
::-webkit-scrollbar-thumb{
background: #818CF8;
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
background: #a7aff6;
}
::-webkit-scrollbar-track{
background: white;
border-radius: 0px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
